*{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: url(../image/jbac.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}

span{
    color: blue;
}

button{
    float: left;
    background-color: transparent;
    border: none;
}
.box {
    width: 140px;
    height: auto;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #3fb7cd;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #47da36;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }

ul li{
    list-style-type: none;
}

.fa-solid{
    color: #f0f;
    /* width: 50px;
    height: 50px; */
    
}
a{
    letter-spacing: 5px;
    text-decoration: none;
    padding: 0 10px;
}

.title{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

h1{
    color: #3fb7cd;
}

h3{
    font-size: 20px;
    margin-bottom: -10px;
}

table{
    border-collapse: none;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    border: 4px solid transparent;
    border-image: linear-gradient(10deg, #3fb7cd, #e4d166, #f0f, #47da36);
    border-image-slice: 1;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

table tr td{
    border-collapse: none;
    border: 2px solid white;
    height: 80px;
}

td{
    width: 100px;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
}

.back-trans{
    border: none;
}


.margin{
    height: 25px;
    border: none;
}

.skyblue{
    border-radius: 5px;
    /*background-color: rgb(29, 232, 228);*/
    border-color: rgb(29, 232, 228);
    color: rgb(29, 232, 228);
}

.skyblue:hover{
    border-radius: 5px;
    border-color:  rgb(25, 97, 96);
    background-color: rgb(25, 97, 96);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px  rgb(80, 251, 248);
}

.lightblue {
    border-radius: 5px;
    /*background-color: rgb(112, 144, 200);*/
    border-color: rgb(112, 144, 200);
    color: rgb(112, 144, 200);
}

.lightblue:hover{
    border-radius: 5px;
    border-color: rgb(20, 52, 106);
    background-color: rgb(20, 52, 106);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(70, 130, 234);
}

.red{
    border-radius: 5px;
    /*background-color: red;*/
    border-color: red;
    color: red;
}

.red:hover{
    border-radius: 5px;
    border-color: rgb(122, 30, 30);
    background-color: rgb(122, 30, 30);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(246, 70, 70);
}

.orange{
    border-radius: 5px;
    /*background-color: orange;*/
    border-color: orange;
    color: orange;
}

.orange:hover{
    border-radius: 5px;
    border-color: rgb(134, 97, 29);
    background-color: rgb(134, 97, 29);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(235, 186, 96);
}

.yellow{
    border-radius: 5px;
    /*background-color: yellow;*/
    border-color: yellow;
    color: yellow;
}

.yellow:hover{
    border-radius: 5px;
    border-color: rgb(92, 92, 26);
    background-color: rgb(92, 92, 26);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(247, 247, 108);
}

.green{
    border-radius: 5px;
    /*background-color: rgb(40, 210, 40);*/
    border-color: rgb(40, 210, 40);
    color: rgb(40, 210, 40);
}


.green:hover{
    border-radius: 5px;
    border-color: rgb(17, 65, 17);
    background-color: rgb(17, 65, 17);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(116, 230, 116);
}

.lightviolet{
    border-radius: 5px;
    /*background-color: rgb(224, 43, 224);*/
    border-color: rgb(224, 43, 224);
    color: rgb(224, 43, 224);
}

.lightviolet:hover{
    border-radius: 5px;
    border-color: rgb(151, 40, 151);
    background-color:  rgb(151, 40, 151);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(225, 122, 225);
}

.purple{
    border-radius: 5px;
    /*background-color: purple;*/
    border-color: purple;
    color: purple;
}


.purple:hover{
    border-radius: 5px;
    border-color: rgb(63, 5, 63);
    background-color: rgb(63, 5, 63);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 4px 2px 4px rgb(229, 105, 229);
}

::-webkit-scrollbar{
    width: 12px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#3fb7cd, #f0f, #000000);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#3fb7cd,  #f0f, #000000);
  }

  .right{
    float: right;
    margin-top: -2px;
    font-size: 8px;
  }

  .left{
    float: left;
    font-size: 12px;
    font-weight: bolder;
  }

  .lower{
    float: left;
    margin-top: -8px;
    margin-bottom: 0;
    font-size: x-small;
  }